<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>WebStudy01</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- 2024.03.19 -->
	<context-param>
		<param-name>param1</param-name>
		<param-value>value1</param-value>
	</context-param>
	<context-param>
		<param-name>imageFolder</param-name>
		<param-value>F:/00.medias/images</param-value>
	</context-param>
	
	<!-- 2024.02.26 -->
	<!-- 서블릿 등록 -->
	<!-- <servlet> <servlet-name>DescriptionServlet</servlet-name> <servlet-class>kr.or.ddit.servlet01.DescriptionServlet</servlet-class> 
		<load-on-startup>1</load-on-startup>요고요고 !! </servlet> -->

	<!-- 서블릿 맵핑 -->
	<!-- <servlet-mapping> <servlet-name>DescriptionServlet</servlet-name> <url-pattern>/desc</url-pattern> 
		</servlet-mapping> -->

	<!-- 2024.02.27 -->
	<servlet>
		<servlet-name>MimeTextDesc</servlet-name><!-- 서블릿 네임 -->
		<servlet-class>kr.or.ddit.servlet02.MimeTextDescServlet</servlet-class><!-- 클래스경로 -->
		<init-param><!-- 초기 파라미터 값 할당하는 방법 -->
			<param-name>p1</param-name><!-- 파라미터는 이름과 값의 싸으로 이루어진다. -->
			<param-value>VALUE</param-value><!-- 파라미터값 -->
		</init-param>
		<load-on-startup>1</load-on-startup><!-- 톰켓was 로그 후 로드순번, xml작성시 요소당 순서가 있다 -->
	</servlet>
	<servlet-mapping>
		<servlet-name>MimeTextDesc</servlet-name><!-- 서블릿 네임 -->
		<url-pattern>/mime</url-pattern><!-- URL -->
	</servlet-mapping>

	<!-- 2024.03.15 -->
	<session-config>
		<session-timeout>2</session-timeout>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<!-- 2024.03.19 -->
	<!-- 인증방법 설정 -->
	<!-- login-config : 인증시스템의 종류 설정 -->
	<!-- auth-method : 인증방법 설정 (BASIC, BEARER, FORM 3종류 있음) -->
	<!-- form-login-page : 로그인 페이지 URL -->
	<!-- form-error-page : 로그인 실패 시 다시 입력하라고 로그인페이지로 재 이동 -->
<!-- 	<login-config> -->
<!-- 		<auth-method>FORM</auth-method> -->
<!-- 		<form-login-config> -->
<!-- 			<form-login-page>/login/loginForm.jsp</form-login-page> -->
<!-- 			<form-error-page>/login/loginForm.jsp</form-error-page> -->
<!-- 		</form-login-config> -->
<!-- 	</login-config> -->
	
	<!-- 2024.03.19 -->
	<!-- 보호 자원 등록 -->
	<!-- <security-constraint> -->
	<!-- <web-resource-collection> -->
	<!-- <web-resource-name>MBTI</web-resource-name>보호자원 이름 등록 -->
	<!-- <url-pattern>/09/mbti</url-pattern>보호자원 URL 등록 -->
	<!-- <http-method>GET</http-method>GET요청은 막겟다. 접근 방식에 대한 보호 -->
	<!-- <http-method>POST</http-method>POST요청은 막겟다. 접근 방식에 대한 보호, 아묻것도 설정안하면 다막을꺼임 -->
	<!-- <http-method-omission>GET</http-method-omission>나머지 요청은 막고 GET은 허용 하겟다. -->
	<!-- </web-resource-collection> -->
	<!-- <auth-constraint>인가관련 -->
	<!-- <role-name>ROLE_ADMIN</role-name>인가된 롤 설정 -->
	<!-- </auth-constraint> -->
	<!-- <user-data-constraint>http"s" 강제 사용 -->
	<!-- <transport-guarantee>CONFIDENTIAL</transport-guarantee>https 사용하여 기밀성 시키겠다. 하지만 지금은 https를 사용하지 않아서 적용되지 않는다. -->
	<!-- </user-data-constraint> -->
	<!-- </security-constraint> -->
 
</web-app>